# Pliki tymczasowe KiCad
*.bak
*.bck
*.lck
*~*
_autosave-*.kicad_pcb

# Cache KiCada
fp-info-cache
*.kicad_prl
*.kicad_pro-bak

# Build PlatformIO / Arduino
.pio
build
*.elf
*.bin

# Systemowe
.DS_Store
Thumbs.db
*-backups/

*_missing3Dmodels.txt
*_log_missing3Dmodels.txt
